<div class="award-zone" id="award-list">
  <div class="won">
    <h3 class="title-head">Earned prizes</h3>
    <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>

    <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>

    <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>

    <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>

    <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>

      <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>
  

      <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>

      <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>

      <div class="award-new">
      <div class="award-image">
        <center>
          <img src="/assets/rails.png" width="60" height="60"/>
        </center>
      </div>
      <div class="award-new-name">
        Hehehe
      </div>
      <div class="award-new-req">
        Level 10
      </div>
      <div class="award-new-req">
        Score 10
      </div>
    </div>
  
  </div>

  <div class="not-won">
    <h3 class="title-head">Available prizes</h3>
  </div>
</div>
  
