
<div class="game-zone">
  <div class="game-nav">
    <div class="nav-box">
      الرتبة
    </div>
    <div class="nav-box">
      جوائز
  </div>
    <div class="nav-box">
      الإنجازات
    </div>
    <div class="nav-box">
     بروفيل
    </div>
    <div class="nav-box">
     إعدادات
    </div>
    <div id="level" class="nav-box">
      
    </div>
  </div>
  <div class="zone" id="zone" style="text-align:right; direction: rtl;">
    <div class="award-zone">
      <h1 class="award-type">الجوائز التي تم الحصول عليها </h1>
      <div class="award-desc-unlocked">
        كفاية باءة ونابي  
      </div>
    </div>
  </div>
</div>
