
<div class="game-zone">
  <div class="game-nav">
    <div class="nav-box">
      الرتبة
    </div>
    <div class="nav-box">
      جوائز
  </div>
    <div class="nav-box">
      الإنجازات
    </div>
    <div class="nav-box">
     بروفيل 
    </div>
    <div class="nav-box">
     إعدادات 
    </div>
    <div id="level" class="nav-box">
      
    </div>
  </div>
  <div class="zone">
    <div class="divaya">
    <h2 class="lang-header">إختر اللغة التي تريد اللعب بها</h2><br>
    <div class="game-lang">
      <button class="btn btn-info eng-btn" onclick="setLang(0)">الانجليزية</button><br><br><br><br>
      <button class="btn btn-success ar-btn" onclick="setLang(1)">العربية</button><br><br><br><br>
      <button class="btn btn-warning both-btn" onclick="setLang(2)">كلاهما</button>
    </div>
    </div>
  </div>
</div>
