<script type="text/javascript" charset="utf-8">
  
  var words;
  var win=true ;

  function setWordsArray(){
    for(var x=0; x < successfulWords.length;x++){
      successfulWords[x]=successfulWords[x].toLowerCase();
    }
    words=successfulWords;
  }

  function get_words(){
    return words;
  }

  function check_empty_words(){
    if(words.length == 0){
    //$('.zone').append('<div style="position:center; background-color: yellow;">DONE VOTING</div>');
      if(win == true){
        $('.zone').append('<div><button class="btn btn-success" style="" type="submit"  onclick="nextLevel()">Go to next level</button></div>');
      }
      else{
        $('.zone').append('<div><a class="btn btn-success" href="http://localhost:3000/game">Restart Game</a></div>');
      }
      return true;
    }else{
      return false;
    }
  } 

  function have_to_sign_in(){
    alert(successfulWords);
    $.post("/games/vote_errors.js");
  }

  function display_error_sign_in(locale){
    $('.zone').empty();
    //$('#workspace').remove();
    if(locale == "english"){
      $('.zone').append('<div class=\"vote_form\" style="font-size:20px; color:white; float:left; margin-left:30px;"><p>You have to be signed in to display vote form</p></div>');
    }
    if(locale == "arabic"){
      $('.zone').append('<div class=\"vote_form\"style="font-size:20px; color:white; float:left; margin-left:30px;" ><p>يجب ان يكون قد تم تسجيل دخولك</p></div>');
    }
  }

  function request_vote_form(){
    alert("from vote form");
    $('.zone').empty();
    //$('#workspace').remove();
    $('.zone').append('<div class=\"vote_form\"></div></br>');
    if(check_empty_words()){
      //alert('empty');
      return;
    }
    var first_word = words.shift();
    $.post("/games/vote.js", { word: first_word});
  }

    function clear() {
    $("#zone").empty();
  }

  function getTrophies(level, score) {
    clear();
    request_string = "/games/gettrophies/?level=" + level + "&score=" + score;
    $.get(request_string);
  }
  function getPrizes(level, score) {
    clear();
    request_string = "/games/getprizes/?level=" + level + "&score=" + score;
    $.get(request_string);
  }
  function getScore() {
    return 123456;
  }

  function showPrizes() {
    clear();
    $.get("/games/showprizes"); 
  }
  function showTrophies() {
    clear();
    $.get("/games/showtrophies");
  }
  function  setLevelTitle(){
    <% if I18n.locale==:ar %>
    levelTitle = "<span onclick='nextLevel()' style='color: #155B84;'>مرحلة رقم " + level +"</span>";
    <% else I18n.locale==:en %>
     levelTitle = "<span onclick='nextLevel()' style='color: #155B84;'>Level " + level +"</span>";
    <% end %>
    return levelTitle; 
  }


function setButtons(){
    <% if I18n.locale==:ar %>
    gameButtonClear = '<button id="btn-clear" class="btn btn-success" onclick="clearWord()">مسح الكلمة</button>';
    gameButtonRestart = '<a id="btn-restart" class="btn btn-success" href="http://localhost:3000/game">إعادة اللعبة</a>';
    <% else I18n.locale==:en %>
    gameButtonClear = '<button id="btn-clear" class="btn btn-success" onclick="clearWord()">Clear Word</button>';
    gameButtonRestart = '<a id="btn-restart" class="btn btn-success" href="http://localhost:3000/game">Restart Game</a>';
    <% end %>
  }


function getPrizes(level, score) {
    clear();
    request_string = "/games/getprizes/?level=" + level + "&score=" + score;
    $.get(request_string);
  }

  function getScore() {
    return 123456;
  }

</script>

<div class="game-zone">
  <div class="game-nav">
    <div class="nav-box">
      الرتبة
    </div>
    <div class="nav-box" onclick="showPrizes()">
      جوائز
  </div>
    <div class="nav-box" onclick="showTrophies()">
      الإنجازات
    </div>
    <div class="nav-box">
     بروفيل
    </div>
    <div class="nav-box">
     إعدادات
    </div>
    <div id="level" class="nav-box">
      
    </div>
  </div>

  <% if I18n.locale==:ar %>
  <div class="zone" id="zone" style="text-align:right; direction: rtl;">
    <% else I18n.locale==:en %>
    <div class="zone" id="zone">
      <% end %> 
    <div class="divaya">
      <% if I18n.locale==:ar %>
    <h2 class="lang-header">إختر اللغة التي تريد اللعب بها</h2><br>
    <div class="game-lang">
      <button class="btn btn-info eng-btn" onclick="setLang(0)">الانجليزية</button><br><br><br><br>
      <button class="btn btn-success ar-btn" onclick="setLang(1)">العربية</button><br><br><br><br>
      <button class="btn btn-warning both-btn" onclick="setLang(2)">كلاهما</button>
    </div>
    <% else I18n.locale==:en %>
    <h2 class="lang-header">Pick the language you want to play with</h2><br>
    <div class="game-lang">
      <button class="btn btn-info eng-btn" onclick="setLang(0)">English</button><br><br><br><br>
      <button class="btn btn-success ar-btn" onclick="setLang(1)">Arabic</button><br><br><br><br>
      <button class="btn btn-warning both-btn" onclick="setLang(2)">Both</button>
    </div>
    <% end %>
    </div>

  </div>
</div>

<!-- <div id="workspace" style="position:relative; left: 10px; ">
  <a onclick="have_to_sign_in()"  id="btn">start voting</a>
<<<<<<< HEAD
</div>
 -->