
<div class="game-zone">
  <div class="game-nav">
    <div class="nav-box">
      الرتبة
    </div>
    <div class="nav-box">
      جوائز
  </div>
    <div class="nav-box">
      الإنجازات
    </div>
    <div class="nav-box">
     بروفيل
    </div>
    <div class="nav-box">
     إعدادات
    </div>
    <div id="level" class="nav-box">
      
    </div>
  </div>
  <div class="zone" id="zone" style="text-align:right; direction: rtl;">
    
  </div>
</div>
