<% if !gamer_signed_in? %>
    error =  '<h1 class="award-title">سجل دخولك أو إشترك لكي تربح جوائز أو لتحقيق إنجازات</h1>';
    $("#zone").append($(error));

<% else %>
  <% if @level == nil || @score == nil %>
      error = '<div class="alert" style="text-align:right; margin:10px;">' +
              '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
              '<strong>تحذير!</strong> حاولت طلب بيانات غير صالحة.' + '</div>';
      $("#zone").append($(error));
  <% else %>
    <% if @won_prizes.length != 0 %>
        <% @won_prizes.map { |wp| current_gamer.prizes << wp } %>
        success = '<h1 class="award-title">مبروك! لقد فزت الجوائز التالية!</h1>';
        prizes = [];

        <% @won_prizes.each do |p| %>
          prizes.push('<div class="award">' + '<img width="60" src="<%= p.image %>">' + '<%= p.name %>' + '</div>');
        <% end %>

    <% end %>
        $("#zone").append($(success));
        for(var i = 0; i < prizes.length; i++) {
          $("#zone").append($(prizes[i]));
        }

  <% end %>
<% end %>
