<% if params[:level] == nil || params[:score] == nil%>
    error = '<div class="alert" style="text-align:right; margin:10px;">' +
            '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
            '<strong>تحذير!</strong> حاولت طلب بيانات غير صالحة.' + '</div>';
    $("#zone").append($(error));
<% else %>
  <% won_prizes = Prize.get_new_prizes_for_gamer(current_gamer.id, params[:level], params[:score]) %>

  <% if won_prizes.length == 0 %>
     success = '<h1 style="padding: 20px;text-align:right;">مبروك! لقد فزت الجوائز التالية!</h1>';
  <% else %>
     success = '<h1 style="padding: 20px;text-align:right;">مبروك! لقد فزت الجوائز التالية!</h1>';
  <% end %>

    $("#zone").append($(success));
<% end %>
