<% if !gamer_signed_in? %>
    error =  '<h1 class="award-title">سجل دخولك أو إشترك لكي تربح جوائز أو لتحقيق إنجازات</h1>';
    $("#zone").append($(error));
<% else %>
  <% if params[:level] == nil || params[:score] == nil%>
      error = '<div class="alert" style="text-align:right; margin:10px;">' +
              '<button type="button" class="close" data-dismiss="alert">&times;</button>' +
              '<strong>تحذير!</strong> حاولت طلب بيانات غير صالحة.' + '</div>';
      $("#zone").append($(error));
  <% else %>
    <% won_trophies = Trophy.get_new_trophies_for_gamer(current_gamer.id, params[:level], params[:score]) %>
    <% if won_trophies.length == 0 %>
        score_space = '<div class="award">لقد نلت ' + getScore() + '  نقطة!</div>';
        $("#zone").append($(score_space));
        success = '<h1 class="award-title">لقد انهيت كل الانجازات لهذه المرحلة</h1>';
      <% else %>
          <% won_trophies.map { |nt| current_gamer.trophies << nt } %>
          success = '<h1 class="award-title">مبروك! لقد فزت الجوائز التالية!</h1>';
          trophies = [];

          <% won_trophies.each do |t| %>
            trophies.push('<div class="award">' + '<%= t.name %>' + '</div>');
          <% end %>
      <% end %>
          $("#zone").append($(success));
          for(var i = 0; i < trophies.length; i++) {
            $("#zone").append($(trophies[i]));
          }
          var to_prizes_btn = '<br><a style="margin: 10px" class="btn btn-success" onclick="getPrizes(level,score)">كشف الجوائز </a>';
          $("#zone").append($(to_prizes_btn));
  <% end %>
<% end %>
