<% record_output=current_gamer.suggest_synonym(params[:synonym_name], params[:keyword_id].to_i) %>
<% if record_output == 0 %>
$('.errors').append("<p>The synonym has been added successfully</p>");
<% end %>
