<% if !gamer_signed_in? %>
    error =  '<h1 class="award-title">سجل دخولك أو إشترك لكي تري الجوائز  او الانجازات</h1>';
    $("#zone").append($(error));
<% else %>

  var award_zone = '<div class="award-zone" id="award-list"></div>';
  var won_trophies = '<h1 class="award-type">الانجازات التي تم الحصول عليها</h1>';
  var not_won_trophies = '<h1 class="award-type">الانجازات التي يمكنك الحصول عليها </h1>';
  $("#zone").append($(award_zone));

  $("#award-list").append($(won_trophies));

  <% won_trophies = current_gamer.get_won_trophies %>

  <% if won_trophies.length == 0 %>
      trophie_error = '<div class="award-desc-unlocked">لم تربح أي جوائز حت الآن</div>';
      $("#award-list").append($(trophy_error));
  <% else %>
    <% won_trophies.each do |wt| %>
      trophy = '<div class="award-desc-unlocked"><%= wt.name %></div>';
      $("#award-list").append($(trophy));
    <% end %>
  <% end %>

  $("#award-list").append($(not_won_trophies));

  <% not_won_trophies = current_gamer.get_available_trophies %>

  <% if not_won_trophies.length == 0 %>
      trophy_error = '<div class="award-desc-locked">لقد ربحت كل الجوائز </div>';
      $("#award-list").append($(trophy_error));
  <% else %>
      <% not_won_trophies.each do |nwt| %>
          trophy = '<div class="award-desc-locked"><%= nwt.name %></div>';
          $("#award-list").append($(trophy));
      <% end %>
    <% end %>
<% end %>
