var words=get_words();

function record_vote(syn_id){
	$.post("/games/record_vote.js", {synonym_id: syn_id } );
}

function display_next_word(){
	$('.vote_form').remove();
	if(words.length==0){
		$('.zone').append('<div style="position:center; background-color: yellow;">DONE VOTING</div>');
		return;
	}
	$('.zone').append('<div class=\"vote_form\"></div>');
	var word = words.shift();
    $.post("/games/vote.js", { word: word});
}
function skip_keyword(){
	display_next_word();
} 


vote_form=[];
vote_form.push('<div style="position:relative; left: 10px;" >');
vote_form.push('<% submitted_word=params[:word] %>');
vote_form.push('<% keyword=Keyword.where(:name => submitted_word).first%>');
vote_form.push('<%synonym_list=keyword.synonyms %>');
vote_form.push('<p>!"<%= keyword.name %>"  من فضلك اختار معني لكلمة</p>');
vote_form.push('<br/>');
vote_form.push('<div class="btn-toolbar" id="synonym_buttons">');
vote_form.push('<% i=1 %>');
vote_form.push('<%synonym_list.each do |syn|%>');
vote_form.push('<% if i%2==1 %><div class="btn-group" id="synonym_buttons_row"><% end%>');
vote_form.push('<% if syn.approved %>');
vote_form.push('<button class="btn btn-success" id="synonym_button" type="submit" onclick="record_vote(<%= syn.id %>)"><%= syn.name %></button>');
vote_form.push('<% end %>');
vote_form.push('<% if syn.approved %>');
vote_form.push('<% if i%2==0 %></div></br><% end %>');
vote_form.push('<% i=i+1 %>');
vote_form.push('<% end %>');
vote_form.push('<% end %>');
vote_form.push('</br><div class="span6">');
vote_form.push('</br><button class="btn btn-primary span2" type="submit" id="suggest_synonym_button">سجل هذا المعني</button>');
vote_form.push('<input type="text" class="span3" id="suggest_synonym_textbox" placeholder="ادخل معني مختلف">');
vote_form.push('</div>')
vote_form.push('</div></br>');
vote_form.push('<div style="float:left;" id="skip_button">');
vote_form.push('<button class="btn btn-primary" type="submit" onclick="skip_keyword()"> <<  تخطي هذه الكلمة</button>');
vote_form.push('</div>');
vote_form.push('</div>');
vote_form=vote_form.join('');

$('.vote_form').append(vote_form);


