
var words=get_words();

function display_next_word(){
	$('.vote_form').remove();
	$('.zone').append('<div class=\"vote_form\"></div>');
	var first_word = words.shift();
    $.post("/games/vote.js", { word: first_word});
}


vote_form=[];
vote_form.push('<div style="position:relative; left: 10px;" >');
vote_form.push('<% submitted_word=params[:word] %>');
vote_form.push('<% keyword=Keyword.where(:name => submitted_word).first%>');
vote_form.push('<%synonym_list=keyword.synonyms %>');
vote_form.push('<%= keyword.name %></br>')
vote_form.push('<%synonym_list.each do |syn|%>');
vote_form.push('<input type="button" onclick="display_next_word()" value="<%= syn.name %>"/>');
vote_form.push('</br>');
vote_form.push('<% end %>');
vote_form.push('</div>');

vote_form=vote_form.join('');


$('.vote_form').append(vote_form);


