var words=get_words();
var translation="";

function record_vote(syn_id){
	$.post("/games/record_vote", {synonym_id: syn_id } );
}

function display_next_word(){
	$('.vote_form').remove();
	if(check_empty_words()){
		return;
	}
	$('.zone').append('<div class=\"vote_form\"></div>');
	var word = words.shift();
    $.post("/games/vote", { word: word});
}

function skip_keyword(){
	$('.alert').remove();
	display_next_word();
} 

function update_errors(record_output){
	$('.alert').remove();
	$('#box_buttons').append('<div class="alert"></div>');
	if(record_output == 1) {
		<% if I18n.locale ==:en %>
			$('.alert').append('<p style="font-size:20px; ">you cannot insert a blank synonym</p>');
		<% else %>
			$('.alert').append('<p style="font-size:20px; ">يجب ان تكتب معني.</p>');
		<% end %>
	} 
	if(record_output == 2){
		<% if I18n.locale == :en %>
			$('.alert').append('<p style="font-size:20px; ">the synonym already exists for this word</p>');
		<% else %>
			$('.alert').append('<p style="font-size:20px; ">المعني موجود بالفعل.</p>');
		<% end %>
	}
	if( record_output == 3){
		<% if I18n.locale == :en %>
			$('.alert').append('<p style="font-size:20px; ">The synonym should be in arabic</p>');
		<% else %>
			$('.alert').append('<p style="font-size:20px; ">يجب ان يكون المعني باللغة العربية</p>');
		<% end %>
	}
}


function suggest_synonym_to_word(keyword_id){
	translation = document.getElementById('<% if I18n.locale == :en %>' + 
		'suggest_synonym_textbox<% else %>' + 
		'suggest_synonym_textbox_arabic<% end %>').value;
	$.post("/games/record_synonym" ,{synonym_name: translation, 
		keyword_id: keyword_id});
}
$(".vote_form").append("<%= escape_javascript(render 'vote') %>");