<html>
<head>
</head>
<body>
<p>عزيزي عميل عربلتي، </p>
<p>لقد تم العثور على مرادف جديد لكلمة <%= @keyword.name %>، وهي  <%= @synonym.name %>.</p>
<p>لعرض الكلمات المتابعة <%= link_to "إضغط هنا.", list_followed_words_path %>.</p>
</body>
</html>