<form class="form-horizontal well span5" action="addword" method="post">
	<fieldset>
		<legend>إضافة كلمة جديدة</legend>
		<div class="control-group">
			<label class="control-label" for="inputkeyword">الكلمة</label>
			<div class="controls">
				<input type="text" id="inputkeyword" name="keyword[name]" placeholder="الكلمة">
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" class="btn">إضافة الكلمة</button>
			</div>
		</div>
	</fieldset>
</form>