<form class="form-horizontal well span6" action="/admin/addtrophy" method="post" enctype="multipart/form-data">
	<fieldset>
		<legend>إضافة مدالية جديدة</legend>
		<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
		<div class="control-group">
			<label class="control-label" for="inputName">إسم المدالية</label>
			<div class="controls">
				<input type="text" id="inputName" placeholder="إسم المدالية" name="name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputScore">مجموع النقاط</label>
			<div class="controls">
				<input type="text" id="inputScore" placeholder="مجموع النقاط" name="score">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputRank">الترتيب</label>
			<div class="controls">
				<input type="text" id="inputRank" placeholder="الترتيب" name="rank">
			</div>
		</div>
		<div class="control-group" data-provides="fileupload">
			<label class="control-label">الصورة</label>
			<div class="controls">
				<div class="uploader-controls">
					<div class="uploader-preview fileupload-preview thumbnail">
						<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image">
					</div>
					<div class="uploader-side">
						<button class="btn uploader-button" type="button">إختيار الصورة</button>
						<div class="uploader-file-input">
							<input type="file" accept="image/*" name="photo">
						</div>
						<p class="uploader-help" dir="ltr">Maximum size of 1MB. PNG, JPEG, GIF.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="control-group">
			<button type="submit" class="btn">إضافة المدالية</button>
		</div>
	</fieldset>
</form>