<form class="form-horizontal well span6" action="#" method="post">
	<fieldset>
		<legend>إضافة مدالية جديدة</legend>
		<div class="control-group">
			<label class="control-label" for="inputPassword">إسم المدالية</label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="إسم المدالية">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">مجموع النقاط</label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="مجموع النقاط">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputPassword">الترتيب</label>
			<div class="controls">
				<input type="password" id="inputPassword" placeholder="الترتيب">
			</div>
		</div>
		<div class="control-group">
			
		</div>
		<div class="control-group">
			<button type="submit" class="btn">إضافة المدالية</button>
		</div>
	</fieldset>
</form>