<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/admin">لوحة تحكم Arability</a>
			<ul class="nav pull-right">
				<li>
					<%= link_to "العودة الى Arability", "/" %>
				</li>
			</ul>
		</div>
	</div>
</div>