<h1>Import CSV file</h1>

<form action="/admin/upload" enctype="multipart/form-data" method="POST">
	<input type="file" id="csvfile" name="csvfile">
	<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
	<input type="submit" value="Upload">
</form>

<p>To upload a CSV file:</br></p>
<ol>
	<li>Keywords that contain numbers will not be accepted</li>
	<li>Non-arabic synonyms will not be saved</li>
	<li>Files must be UTF-8 encoded</li>
</ol>