<%= form_for :keyword, :url => { :action => "wordadd" }, :html => {:class => "form-inline"} do |f| %>
  <div class="row">
    <div class="input-append">
      <%= f.text_field :name %>
      <%= f.submit "Create", :class=>"btn btn-primary" %>
    </div>
  </div>
<% end %>