<h1>Import CSV file</h1>

<form action="/admin/upload" enctype="multipart/form-data" method="POST">
	<input type="file" id="csvfile" name="csvfile">
	<input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
	<input type="submit" value="Upload">
</form>

<p>To upload a CSV file:</br></p>
<ol>
	<li>Keywords that contain numbers will not be accepted</li>
	<li>Non-arabic synonyms will not be saved</li>
	<li>Files must be UTF-8 encoded</li>
</ol>

<% if @message == "0" %>
<p style="color:green;">Import successfull</p>
<% end %>

<% if @message == "1" %>
<p style="color:red;">*You did not upload a file</p>
<% end %>

<% if @message == "2" %>
<p style="color:red;">*Wrong encoding. Make sure your file is UTF-8 encoded</p>
<% end %>

<% if @message == "3" %>
<p style="color:red;">*There is something wrong with your file, please check and try again</p>
<% end %>

<% if @message == "4" %>
<p style="color:red;">*This is not a csv file</p>
<% end %>