<div class="container admin">
	<div class="row">
		<%= render partial: 'sidebar-nav', locals: {active: "list-users"} %>
		<div class="span9 offset3">
			<div class="tab-content">
				<div class="tab-pane well span7 active" id="admin-list-users">
					<%= @list %>
				</div>
			</div>
		</div>
	</div>
</div>