<form action="/admin/login" method="POST">
	<fieldset>
		<legend>Login</legend>
		<% if flash[:error] %>
			<div><%= flash[:error] %></div>
		<% end %>
		<label>
			<strong>username:</strong>
			<input type="text" name="username" placeholder="username" required value="<%= @username %>">
		</label>
		<label>
			<strong>password:</strong>
			<input type="password" name="password" placeholder="password" required>
		</label>
	</fieldset>
	<input type="submit" value="login">
</form>