<h2 align="right">الخطوة الثالثة: تواصل مع تويتر الخاص بك</h2>
<br>
<div align="right">
    <div>
        <img alt="Twitter" class="border-none" src="/assets/twitter.png" width="100" />
        <%= link_to "تواصل", "/auth/twitter" %>
    </div>
    <br>
    <%= link_to "إنتهاء", root_path %>
</div>
