<legend>Words followed by you:</legend>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Words</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @keywords.each do |keyword| %>
    <tr>
        <td><%= keyword.name %></td>
        <td><%= button_to "Unfollow", unfollow_word_path(keyword.id), :class => "btn btn-info" %></td>
    </tr>
  <% end %> 
  </tbody>
</table>
              
