<legend><%= t(:words_followed_by_you)%></legend>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:words)%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @keywords.each do |keyword| %>
    <tr>
        <td><%= keyword.name %></td>
        <td><%= button_to t(:words), unfollow_word_path(keyword.id), :class => "btn btn-info" %></td>
    </tr>
  <% end %> 
  </tbody>
</table>
              
