<% if !@keywords.empty? %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:words)%></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @keywords.each do |keyword| %>
    <tr>
        <td><%= keyword.name %></td>
        <td><%= link_to t(:unfollow), unfollow_word_path(keyword.id), :class => "btn btn-danger" %></td>
    </tr>
  <% end %> 
  </tbody>
</table>
<% else %>
<h4><%= t(:no_followed_words) %></h4>
<% end %> 
