.welcome{
	text-align: center;
	color: rgba(255,0,0,0.9);
	font-family: 'Snowburst One', cursive;
	font-size: 40px;
}
.image{
	border: 10px ;
	border-style: double;
	border-color: rgba(165,42,42,0.9);
	float: left;
	margin-right: 50px;
}
.i{

	display: inline;
}
.dt{
	color: rgba(178,34,34,0.9);
	font-weight: bold;
	font-size: 15px;
	display: inline;
	margin: 10px;
}
.dd{
	font-weight: bold;
	display:inline;
	color: white;
}
label{
	color: rgba(178,34,34,0.9);
	font-weight: bold;
	font-family: 'Snowburst One', cursive, bold;
}
ul{
	list-style:circle;
}
.ii{
	
	text-align: center;
}
body{
	background-color:black;
	background-image:url('Black_Background_3_by_sjunod.jpg');
}
.fb{
	text-indent: 70px;
}
div#marquee { 
  height:2em;line-height:2em; 
  overflow:hidden;border:1px blue solid; 
  background:rgba(233,150,122,0.9);color:#FFF;font-weight:bold; 
  } 
 