<div class="row">
	<legend>Search Keywords:</legend>
	<form class="form-search" action="/search/index" method="post">
		<div class="input-append">
			<input class="span2 search-query" type="text" placeholder="Type search keyword here...">
			<button type="submit" class="btn"><i class="icon-search"></i></button>
		</div>
	</form>
</div>
