
body {
	width: 960px;
	margin: auto;
	background: #F2F0D9;
	font-family: Calibri;
}

div.welcome, label {
	-moz-column-count: 2;		/* Firefox */
	-webkit-column-count: 2;	/* Safari and Chrome */
	column-count: 2;
}

label {
	display: block;
}

h1, legend {
  color: #2A7E68;
}

div.login {
	margin-bottom: 30px;
