  <p>
    <%= task.name %> <%= link_to 'Delete', [task.list, task],
               :confirm => 'Are you sure?',
               :method => :delete %> | <%= link_to 'Edit', edit_list_task_path(task.list, task) %>
  </p>