<%= form_for @keyword, :url => { :action => "create" }, :html => {:class => "form-inline"} do |f| %>
    <span><%= t :enter_keyword %>:</span>
    <div class="input-append">
      <%= f.text_field :name %>
      <%= f.submit "Create", :class=>"btn btn-primary" %>
    </div>
<% end %>
