<div class="game-preview-container">
	<div>
		<img class="game-preview" src="/assets/Game_screenShot.png">
	</div>
	<div>
		<h1><a>Play the Arability Game And contribute</a></h1>
		<a href="/game" class="btn btn-info btn-large-play span4">PLAY</a>
	</div>
</div>