<div class="game-preview-container">
	<div class="pull-left">
		<img class="game-preview" src="/assets/Game_screenShot.png">
	</div>
	<div class="pull-left">
		<h1><a>إلعب</a></h1>
		<h1><a>لعبت عربلتي</a></h1>
		<h1><a>و ساهم</a></h1>
		<a href="/game" class="btn btn-info btn-large-play span4">إلعب</a>
	</div>
</div>