<div id="slide_show" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#slide_show" data-slide-to="0" class="active"></li>
		<li data-target="#slide_show" data-slide-to="1"></li>
		<li data-target="#slide_show" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="active item"> 
			<img src="/assets/bootstrap-carousel-preview.jpg">
			<div class="carousel-caption">
				<h4>Caption</h4>
				<p>This is a caption</p>
			</div>
		</div>
		<div class="item"> 
			<img src="/assets/bootstrap-carousel-preview.jpg">
			<div class="carousel-caption">
				<h4>Caption</h4>
				<p>This is a caption</p>
			</div>
		</div>
		<div class="item"> 
			<img src="/assets/bootstrap-carousel-preview.jpg">
			<div class="carousel-caption">
				<h4>Caption</h4>
				<p>This is a caption</p>
			</div>
		</div>
	</div>
	<a class="carousel-control left" data-slide="prev" href="#slide_show">&lsaquo;</a>
	<a class="carousel-control right" data-slide="next" href="#slide_show">&rsaquo;</a>
</div>