.html{
	background-image: 'url('C:\Users\Salma\Desktop\Task4\app\assets\images')'
}
.titles{
	color: white;
	font-size: 30px;
	font-family: bold;
	text-decoration:underline;
}
.subtitles{
	color: white;
	font-size: 20px;
}
.another{
	color: magenta;
	font-size: 20px
}
.app{
	color: gray;
}