<h1>استيراد ملف CSV</h1>

<form action="<%= choose_keywords_project_path %>" enctype="multipart/form-data" method="POST">
  <input type="file" id="csvfile" name="csvfile">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
  <input type="submit" class="btn btn-success" value="رفع الملف">
</form>
<p>لتحميل ملف CSV:</br></p>
<ol>
	<li>الكلمات التي بها أرقام لن تقبل</li>
	<li>المعاني الغير عربية لن تقبل </li>
	<li>الملفات يجب ان تكون بـبتقنية UTF-8</li>
</ol>