<h1>Projects</h1>
<br />
<a class="btn" href="/projects/new"><i class="icon-plus"></i> New Project</a>
<br />
<% @projects.each do |project| %>
  <div class="boxed">
  Name:
  <br />
  <%= project.name %>
  <br />
  Categories:
  <br />
  <% project.categories.each do |c| %>
    <%= c.name %>
  <% end %>
  <br />
  Description:
  <br /> 
  <%= project.description %>
<br />
<% end %>
</div>