<h1>Projects</h1>
<br />
<a class="btn" href="/projects/new"><i class="icon-plus"></i> New Project</a>
<br />
<% @projects.each do |project| %>
  <div class="boxed">
    <a class="btn" href="/projects/<%= project.id %>/edit"><i class="icon-edit"></i></a>
    <br />
    Name:  <%= project.name %>
    <br />
    Categories:  <% project.categories.each do |c| %>
      <%= c.name %>
      <% end %>
    <br />
    <%= project.description %>
    <br />
  <% end %>
</div>