<% @projects.each do |project| %>
<div class="boxed">
	<%= project.name %>
	<%= project.categories %>
	<% project.categories.each do |c| %>
	<%= c.name %>
	<% end %>
	<%= project.description %>
</div>
<br />
<% end %>