<% @projects.each do |project| %>
<div class="boxed">
	<%= project.name %>
	<%= project.categories %>
	<%= project.description %>
	<a class="btn btn-mini" href="#"><i class="icon-trash"></i> </a>
</div>
<br />
<% end %>

