var synonym_names = [];
var synonym_ids = [];

<% @keyword_synonyms.each do |synonym| %>
	synonym_names.push("<%= synonym.name %>");
	synonym_ids.push("<%= synonym.id %>");
<% end %>
update_synonym_list(synonym_names, synonym_ids);

function update_synonym_list(synonym_names, synonym_ids){
	if(synonym_names.length == 0){
		<% if I18n.locale == :en %>
			$("#selected_synonym").html("<option value='0'>no translations</option>");
		<% else %>
			$("#selected_synonym").html("<option value='0'>لا يوجد معاني</option>");
		<% end %>
		document.getElementById("selected_synonym").disabled=true;
	}
	else {
		$("#selected_synonym").html("");
		document.getElementById("selected_synonym").disabled=false;
		for(var i = 0; i < synonym_names.length; i++){
			$("#selected_synonym").append("<option value='"+ parseInt(synonym_ids[i]) +
				"'>"+ synonym_names[i]+"</option>");
		}
		$("#selected_synonym option:first").attr('selected','selected');
    }
}