<Legend class="container"><%= t(:recommended_for_project)%></Legend>
<br>
<p><%= t(:select_words) %><p>
<table class="table table-bordered table-condensed" style="width:800px;background-color:white">
  <col style="width:10%">
  <col style="width:45%">
  <col style="width:45%">
   <% if @words.count == 0 %>
      <div class="well">
        <span>
          <%= t(:no_recommended_words) %>
        </span>
      </div>
    <% else %>
    <% end %>