<h2>STEP 3: Connect your Arability account to your Twitter account</h2>
<br>
<div>
    <button class="btn btn-info" action="/auth/twitter">Connect to Twitter</button>
</div>

<button class="btn btn-link">Next</button>