<%= form_for(@developer, url: { :action => "create" }, html: { class: "form-signin" }) do |f| %>
  <h3 class="form-signin-heading">
    <%= t(:register_as_developer) %>
  </h3>  
  <div>
    <%= f.submit t(:next), class: "btn btn-primary pull-right", style: "margin-top:-10px;" %>
  </div>
<% end %>