/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 */
#navbar {
  padding-top: 60px;
  padding-bottom: 40px;
}

body {
    background-color: #f5f5f5;
}
.boxed {
  width: 300px
}

.req{
    color: red;
}

div.field_with_errors {
  @extend .control-group.error;
  display: inline;
}

label.radio {
	display: inline-block;
	margin-top: 8px;
	margin-right: 15px;
}

label.radio:first-child {
	margin-left: 30px;
}

div.d5pxdown {
	position: relative;
	top: 13px;
}

div.d5pxup input {
	width: 92px;
}

#project_name {
  padding: 10px;
}

#desc {
  min-width:500px;
  max-width:500px;
  min-height:180px;
  max-height:180px;
}

#cat {
  min-height:41px;
  max-height:41px;
  min-width: 232px;
  min-width: 232px;
}

#gender {
  min-height:41px;
  max-height:41px;
  min-width: 116px;
  max-width: 116px;
}

#key {
  margin:0px;
  min-height:35px;
  max-height:35px;
  min-width: 250px;
  max-width: 250px;
}

.validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
color: #D63301;
background-color: #FFCCBA;
}

