// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-zone {
  margin-left: auto;
  margin-right: auto;
  width: 780px;
  height: 600px;
  border-color: white;
  border-style: solid;
  background-color: white;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  box-shadow: 0 1px 10px rgba(0,0,0,0.1);
  padding: 0;
}

.game-nav {
  direction: rtl;
  width: 780px;
  padding: 0;
  height: 70px;
  border-bottom: solid;
  border-color: #f3f3f3;
}

#navItems{
  font-size: 30px;
  line-height: 1.3;
  border-radius: 50px;
  color: white;
}
.nav-box {
  width: 90px;
  height: 40px;
  margin-top: 15px;
  font-size: 200%;
  
  
}
.vote_form {
  float: right;
  margin-right: 20px;
  height:50px;
  font-size: 50px;
  padding-top: 40px;
  height:50px;

}

#synonym_button{
  height:50px;
  width:150px;
  font-size:30px;
  padding:20px;
  padding-bottom:40px;
  margin:20px;
  text-align: center;
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
  margin-right:150px;
}

#synonym_buttons_row{

}

#synonym_buttons{
  right:50%;
  left:50;
}

#skip_button{
  float:left;
  margin-left:-100;
  font-size:25px;
}

#suggest_synonym_textbox_arabic{
  margin-right: 40px;
}

#suggest_synonym_button_arabic{
  margin-right: 70px;
  font-size: 21px;
}


#suggest_synonym_button_english{
  margin-left: 70px;
  font-size: 19px;
}

.zone {
  height: 530px;
  width: 100%;
  background-color: #51687C;
  border-top-right-radius:6px;
  border-top-left-radius:6px;
  border-bottom-right-radius:6px;
  border-bottom-left-radius:6px;
}

.table1 .btn:not(.tutBtn){
  width: 51px;
  height: 35px;
}

.table1 td:not(.tutBtn){
  width: 40px;
  height: 40px;
  min-height: 50px;
  min-width: 50px;
}

.table1 tr:not(.tutBtn){
  min-width: 50px;
  min-height: 50px;
}

.label1{
      font-size:100%;
      height: 50px; 
      color: white;
      background-color: transparent;
      overflow: hidden;
      width: 190px;
      line-height: 50px;
      text-align: center;
    }

.label-div{
    background-color: #333333; 
    width: 190px; 
    border-color: black; 
    float: left; 
    height: 50px; 
    margin-left: -20px; 
    border-radius: 30px;

}


.table1{ 
  border: solid 1px black;
  border-radius: 15px;
  float: left; 
  width: 550px;  
  height: 420px; 
  margin-top: 10px; 
  margin-left: 10px;
}

#list-div{
  width:150px; 
  height: 300px; 
  float: right; 
  background-color: transparent; 
  border-color: black; 
  margin-top: 10px; 
  margin-right: 10px;
  font-size: 15px;
}

.buttons-div{
float:left;
margin-top: 30px;
margin-left: 80px;
}


#btn-next{
  margin-left: 10px;
}

.game-lang{
  text-align: center;
}

.game-lang .btn{
  width: 200px;
  height: 75px;
  font-size: 200%;
  color: black; 
}

.lang-header{
  text-align: center;
  color:white;
}

.divaya{
  padding-top: 20px;
}

#btn-clear{
  color: white;
  width: 200px;
  height: 38px;
  padding-left:30px;
  margin-right: 50px;
  border-radius: 10px;
}

#btn-restart{
  width: 160px;
  height: 29px;
  margin-right: 40px;
  line-height: 2;
  border-radius: 10px;
}

#game-score{
  color: white;
  width: 200px;
  float: right;
  text-align: left;
}

.award-title {
 padding: 20px;
 direction:rtl;
 text-align:right;
}

.award {
  font-size: 20px;
  padding: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  direction: rtl;
  text-align:right;
  background-color: rgba(200,200,200, 0.3);
  color: white;
}

.award img {
  margin-left: 24px;
}

.award-title {
 padding: 20px;
 direction:rtl;
 text-align:right;
 color: white;
}

.award {
  font-size: 20px;
  padding: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  direction: rtl;
  text-align:right;
  background-color: rgba(200,200,200, 0.3);
}

.award-desc-unlocked {
  color:white;
  font-size: 20px;
  padding: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  direction: rtl;
  text-align:right;
  background-color: rgba(0,204,190, 0.3);
  color:white;
}

.award-desc-unlocked img {
  margin-left: 14px;
}


.award-desc-locked {
  color:white;
  font-size: 30px;
  padding: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  direction: rtl;
  text-align:right;
  background-color: rgba(200,204,190, 0.3);
}

.award-desc-unlocked img {
  margin-left: 14px;
}

.award-desc-locked img {
  margin-left: 14px;
}


.award-type {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  direction: rtl;
  text-align: right;
  font-size: 20px;
  border-bottom: solid;
  border-width: 1px;
}

.award-zone {
  overflow-y: scroll;
  height:100%;
  text-align:right;
}

.award {
  font-size: 20px;
  padding: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  direction: rtl;
  text-align:right;
  background-color: rgba(200,200,200, 0.3); 
}

.award-desc-unlocked {
   font-size: 20px;
  padding: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  direction: rtl;
  text-align:right;
  background-color: rgba(0,204,190, 0.3);
}

.award-desc-locked {
   font-size: 20px;
  padding: 10px;
  margin-left:10px;
  margin-right:10px;
  margin-top: 10px;
  direction: rtl;
  text-align:right;
  background-color: rgba(200,204,190, 0.3);
}



.award-type {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  direction: rtl;
  text-align: right;
  font-size: 20px;
  border-bottom: solid;
  border-width: 1px;
}

.award-zone {
  overflow-y: scroll;
  height:100%;
}

.table1 .btn:not(.tutBtn){
  width: 51px;
  height: 35px;
}


.table1 tr:not(.tutBtn){
  min-width: 50px;
  min-height: 50px;
}



#list-div{
  width:150px; 
  height: 300px; 
  float: right; 
  background-color: transparent; 
  border-color: black; 
  margin-top: 10px; 
  margin-right: 10px;
}


#btn-next{
  margin-left: 10px;
}

.game-lang{
  text-align: center;
}

.game-lang .btn{
  width: 200px;
  height: 75px;
  font-size: 200%;
  color: black; 
}

.lang-header{
  text-align: center;
  color:white;
}

.divaya{
  padding-top: 20px;
}



#score {
  color: white;
  width: 330px;
  margin-left:auto;
  margin-right: auto;
}

.text_english{
  color: white;
  font-size: 30px;
}

.text_arabic{
  color:white;
  font-size: 40px;
  text-align: center;
  
}

#keywordName{
  font-weight:bold;
  margin-right:100px;
}

#empty-db-msg{
  width: 600px;
  color: white;
  margin-right: auto;
  padding-top: 150px;
  text-align: center;
  font-family: h;
  margin-left: auto;
}

#gameover-popup{
  font-size: 2000%;
  color: white;
  position: absolute;
  margin-top: 170px;
  opacity: 1;
  margin-right: 150px;
}

.table1 button:not(.tutBtn){
  width: 53px;
  height: 35px;
  border-radius: 10px;
}

.tutBtn{
  width: 120px;
  height:30px;
  font-size: 20px;
  color: white;
}

.popover-content button{
  border-radius: 10px;
}

#list-div .popover{
  width: 220px;
}

#list-div .popover button{
  margin-left: 30px;
}

.label-div .popover button{
  margin-left: 40px;
  width: 100px;
}

td .popover{
  top: 195px;
  left: 335.5px;
  width: 400px;
  max-width: 400px;
}

td .popover button{
  margin-left: 120px;
}

.game-lang .popover button{
  margin-left: 40px;
}