div.item {
	height: 390px;
	text-align: center;
}

div.item img {
	margin: auto;
}

ol.carousel-indicators {
	width: 50px;
	position: absolute;
	margin-left: 50%;
	margin-right: 50%;
}

img.game-preview {
	width: 450px;
	height: 320px;
}

div.game-preview-container a {
	text-decoration: none;
	margin-top: 20%;
	line-height: 30px;
}

div.game-preview-container div {
	width: 50%;
	float: left;
}

div.game-preview-container {
	
	margin-top: 5%;
}