*{
 font-family: calibri;
}

ul.menu{
	list-style: none;
	text-align: center;
	background: #ccc;
	padding: 15px;

}

ul.menu li {
	display: inline;
	margin:10px;
	padding: 20px;
	border-left: 1px solid white;

}

ul.menu li:last-child {
	

}

.hyper{
	margin-left:20px;
	text-decoration:none;
	font-family:calibri;
	color: crimson;
}