<!DOCTYPE html>
<html>
    <head>
        <title>taskodio | Home</title>
        <link rel="stylesheet" type="text/css" href="/media/css/bootstrap.css" />
    </head>
    <body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="/">taskodio</a>
            <ul class="nav pull-right">
                <li><a href="/lists/new_list">Create a new list</a></li>
                <li><a href="#">You are logged in as, {{ user.username }}</a></li>
                <li><a href="/signout">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="well">
            {% if detail_error %}
            <div class="alert">
                {{ detail_error }}
            </div>
            {% endif %} 
            
            {% if success %}
                <div class="alert">
                    {{ success }}
                </div>
            {% endif %}
            <h1>Hello, {{ user.username }} </h1><br>

            <h3>Your lists</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>List Name</th>
                  <th>Edit</th>
                  <th>Delete</th>
                  <th>Share</th>
                </tr>
              </thead>
              {% if list_name_set %}
              <tbody>
                {% for list in list_name_set %}
                    <tr>
                        <td><a href="/lists/{{list.id}}">{{list.title}}</a></td>
                        <td><a href="/lists/{{list.id}}/edit"><i class="icon-edit"></i></a></td></td>
                        <td><a href="/lists/{{list.id}}/delete"><i class="icon-remove-sign"></i></a></td></td>
                        <td><a href="/lists/{{list.id}}/share"><i class="icon-share-alt"></i></a></td></td>
                        
                    </tr>
                {% endfor %}
              </tbody>
              {% else %}
                <p>You don't have any lists.</p>
              {% endif %}
            </table>


             <h3>Shared lists</h3>
            <table class="table">
              <thead>
                <tr>
                  <th>List Name</th>
                  <th>Edit</th>
                  <th>Remove</th>
                  <th>Share</th>
                </tr>
              </thead>
              {% if shared_list_set %}
              <tbody>
                {% for list in shared_list_set %}
                    <tr>
                        <td><a href="/lists/{{list.id}}">{{list.title}}</a></td>
                        <td><a href="/lists/{{list.id}}/edit"><i class="icon-edit"></i></a></td></td>
                        <td><a href="/lists/{{list.id}}/delete"><i class="icon-remove-sign"></i></a></td></td>
                        <td><a href="/lists/{{list.id}}/share"><i class="icon-share-alt"></i></a></td></td>
                        
                    </tr>
                {% endfor %}
              </tbody>
              {% else %}
                <p>You don't have any <i>shared</i> lists.</p>
              {% endif %}
            </table>

        </div>
    </div>
    </body>
</html>


