<h1>{{ list1.title }}</h1>
<hr>
<form action="/lists/{{list1.id}}/create_task/" method="post">
	<input type="text" placeholder="task name" name="task_name">
	<input type="text" placeholder="description" name="task_desc">
	<input type="submit" value="Create new Task">
</form> 
<hr>
{% if tasks_set %}
    <ul>
    {% for task in tasks_set %}
        <li>{{task.title}}  {{task.desc}}  {{task.done}}
        <a href="/lists/{{list1.id}}/tasks/{{task.id}}/edit">Edit</a> 
        <a href="/lists/{{list1.id}}/tasks/{{task.id}}/delete">Delete</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% if detail %}<p><strong> {{ detail }}</strong></p> {% endif %}
